<br>
<div class="container">
    <div class="page-header">
        <h1><%= @user.user_name %>
        <% if current_user.user_name == @user.user_name %>

        <% else %>
            <% if current_user.following?(@user) %>
                <%= link_to("Unfollow", unfollow_welcome_path(@user), :class => 'btn btn-danger' ) %>
            <% else %>
                <%= link_to("Follow" , follow_welcome_path(@user.to_param), :remote => true, :class =>' btn btn-success' )%>
            <% end %>
        <%end %></h1>
    </div>