

<h1>Users Details</h1>

<table  class = 'table table-striped'>
  <thead>
    <tr>

      <th>Email </th>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>

        <td><%= user.email %></td>
<td><%= link_to 'Destroy', admin_users_delete_path(user) %> </td>

    <% end %>

  </tbody>
</table>

<br>





