<footer class="footer">

<small>
    The <a href="#">Sample app</a>
    Created by <a href="http://twitter.com/rajender_nune/">Rajender Nune</a>
  </small><br> <marquee bgcolor= "#00ff00" , width="50%"> This is basic example of sampleApp2 </marquee>
  <nav>
    <ul>
     <li><%= link_to 'Contact', {:controller=>'/contacts', :action=>'new'} %></li>

      <li><a href="http://rubyonrails.org/">News</a></li>
    </ul>
  </nav>
</footer>
